<div class="page-header">
  <h2>Register</h2>
</div>

<form ng-submit="register()">
  <div class="input-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="user.email"><br><br>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Name" ng-model="user.name"><br><br>
  </div>
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"><br><br>
  </div>
  <div class="input-group">
    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="user.role">
      <option  ng-repeat="option in data.roleOptions" value="{{option.name}}">{{option.name}}</option>
    </select>
  </div>
  <input type="submit" class="btn btn-warning" value="Register">
</form>
