<div class="row">
  <h3>Reader Profile for <span class="reader-name">{{reader.data.name}}</span></h3>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="well">All Books</h4>
    <p>
      <span>{{reader.message}}</span>
      <label>Filter by Genre </label> <input ng-model = "reader.search" ng-change="reader.refilter()">
      <ul class="book-list">
        <li ng-repeat = "book in reader.allbooks | filter:{genre:reader.search} ">{{book.name}} - <strong>by</strong> {{book.author}} [ <i>{{book.genre}}</i> ]<br><button class="btn btn-sm btn-warning"  ng-hide = "reader.hasBook(book.id)" ng-click = "reader.assignBook(book)">Assign Book</button></li>
      </ul>
    </p>
  </div>
    <div class="col-md-6">
    <h4 class="well">Books in reader's list</h4>

      <br><br>
      <table class="table table-hover table-condensed">
        <tr>
          <th>
            Book Name
          </th>
          <th>
            Author
          </th>
          <th>
            Genre
          </th>
        </tr>
        <tr ng-repeat = "book in reader.data.books">
          <td>
            {{book.name}}
          </td>
          <td>
            {{book.author}}
          </td>
          <td>
            {{book.genre}}
          </td>
        </tr>
      </table>
    </div>

</div>
