<h1>All Readers</h1>
<div ng-controller="ReadersController as ctrl">
  <p>
    <form ng-submit = "ctrl.addReader()">
      <input type="text" ng-model="ctrl.newReader.name" value="">
      <input type="submit" name="submit" value="Add Reader">
    </form>
  </p>
  <div class="row">
    <div class="col-md-4">
      <label>Search:</label> <input ng-model="ctrl.search" />
      <ul ng-repeat = "reader in ctrl.readers | filter: ctrl.search">
        <li>
          <a  ui-sref="readers.profile({ id: reader.id })"><span> {{reader.name}}</span></a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div ui-view>
      </div>
    </div>
  </div>
</div>
