<h1>All Readers</h1>
<div ng-controller="ReadersController as ctrl">
  <p>
    <form name="readerForm" ng-submit = "ctrl.addReader()">
      <input type="text" ng-model="ctrl.newReader.name" name="uName" ng-minlength="3" required>
      <input type="submit" name="submit" value="Add Reader" ng-disabled="readerForm.$invalid">
    </form>
  </p>
  <p ng-show="readerForm.uName.$error.minlength" class="help-block">Username is too short.</p>
  <div class="row">
    <div class="col-md-4">
      <label>Search:</label> <input ng-model="ctrl.search" />
      <ul ng-repeat = "reader in ctrl.readers | filter: ctrl.search">
        <li>
          <a  ng-hide = "edit" ui-sref="readers.profile({ id: reader.id })"><span> {{reader.name}}</span></a>
          <button ng-hide="edit" name="button" ng-click = "edit=true">Edit</button>
          <form ng-show = "edit" ng-submit = "ctrl.updateReader(reader)">
            <input type="text" ng-model="reader.name" value="">
            <input type="submit" name="submit" value="Update Reader" ng-click="edit=false">
          </form>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div ui-view>
      </div>
    </div>
  </div>
</div>
