<div class="row">
  <div ng-controller = "BooksController">
  <div class="col-md-5" ng-show = "current_user.role == 'Teacher'">
    <h2>Add New Book</h2>
    <form ng-submit="addBook()">
      <div class="form-group">
        <label for="bookName">Book Name</label>
        <input class="form-control" type="text" ng-model="newBook.name" value="">
      </div>
      <div class="form-group">
        <label for="bookAuthor">Book Author</label>
        <input class="form-control" type="text" ng-model="newBook.author" value="">
      </div>
      <div class="form-group">
        <label for="bookGenre">Book Genre</label>
        <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="newBook.genre">
          <option  ng-repeat="option in data.genreOptions" value="{{option.name}}">{{option.name}}</option>
        </select>
      </div>
      <input class="btn btn-warning"type="submit" name="submit" value="Add Book">
    </form>
  </div>
  <div class="col-md-7">
    <h3>{{title}}</h3>
    <div class="col-md-8">
      <ul class="book-list">
        <li ng-repeat ="book in books">
          <book
                id="book.id"
                name="book.name"
                author="book.author"
                genre="book.genre"
                status="book.status"
                currentuserid = "current_user.id"
                currentuserrole = "current_user.role"/>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div ui-view>
          <span class="ui-place-holder">Click on book link to see details here!</span>
        </div>
      </div>
    </div>

  </div>

  </div>

</div>
