<div class="row">
  <div ng-controller = "BooksController">
  <div class="col-md-5">
    <h2>Add New Book</h2>
    <form ng-submit="addBook()">
      <div class="form-group">
        <label for="bookName">Book Name</label>
        <input class="form-control" type="text" ng-model="newBook.name" value="">
      </div>
      <div class="form-group">
        <label for="bookAuthor">Book Author</label>
        <input class="form-control" type="text" ng-model="newBook.author" value="">
      </div>
      <div class="form-group">
        <label for="bookGenre">Book Genre</label>
        <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="newBook.genre">
          <option  ng-repeat="option in data.genreOptions" value="{{option.name}}">{{option.name}}</option>
        </select>
      </div>
      <input class="btn btn-warning"type="submit" name="submit" value="Add Book">
    </form>
  </div>
  <div class="col-md-7">
    <h3>{{title}}</h3>
    <table class="table table-condensed table-hover">
      <tr>
        <th>
          Book Name
        </th>
        <th>
          Author
        </th>
        <th>
          Genre
        </th>
      </tr>
      <tr ng-repeat ="book in books">
        <td>
          <a ui-sref = "books.detail({id: book.id})">{{book.name}}</a>
        </td>
        <td>
          {{book.author}}
        </td>
        <td>
          {{book.genre}}
        </td>
      </tr>
    </table>

  <div class="col-md-12">
    <div ui-view>
      <span class="ui-place-holder">Click on book link to see details here!</span>
    </div>
  </div>
  </div>

  </div>

</div>
