@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
body h1, h2, h3 {
  font-family: 'Poiret One', sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px #555;
}
h2, h3 {
  text-shadow: none;
}

.reader-name {
  color: orange;
  font-family: cursive;
}
body {
  font-family:sans-serif;
}
.container {
  margin-left: 5%;

}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}

ul#menu li .active {
    background-color: orange;
}

.book-list li {
  line-height: 30px;
  list-style: none;
  margin-left: 1px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 2px;
}

li.small-well{
  background-color: #efefef;
  padding:8px;
  border-radius: 4px;
  list-style: none;
}


span.help-block {
  text-transform: uppercase;
  color:#ff0000;
  font-size: 120%;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
