@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
body h1, h2 {
  font-family: 'Poiret One', sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px #555;
}

body {
  font-family:sans-serif;
}
.container {
  margin-left: 5%;

}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
