<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Summer Reading Log</title>
  <%= favicon_link_tag(source='favicon.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="summer-reading-app">
  <div class="container">
    <h1>Summer Reading Log</h1>
    <h5><i>Log the minutes of your little readers this summer</i></h5>
      <ul id="menu" >
        <li><a href="#" ui-sref="/" ui-sref-active="active">Home</a></li>
        <li><a href="#" ui-sref="readers" ui-sref-active="active">Readers</a></li>
        <li><a href="#" ui-sref="books" ui-sref-active="active">Books</a></li>
      </ul>
      <div ui-view>
      </div>

  </div>
</body>
</html>
